<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">
<th:block  layout:fragment="title">
    admin
</th:block>

<th:block layout:fragment="styles">

</th:block>



<div layout:fragment="page_content">

    <div class="box box-success">
        <div class="box-header">
            <div class="box-header with-border">
                <h3 class="box-title">Edit user</h3>
            </div>
        </div>
        <form th:action="${savePath}" class="form-horizontal" method="post" th:object="${userRequest}">
            <div class="box-body">
                <div th:if="${result.success}">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-warning"></i> Ogohlantirish!</h4>
                        <p th:text="${result.message}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" name="${_crsf.parameterName}" value="${_csrf.token}">
                        <div class="form-group">
                            <label for="fullName" class="col-sm-2 control-label">Full Name</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{fullName}" class="form-control" id="fullName" placeholder="Enter full Name">
                                <span class="help-block text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userName" class="col-sm-2 control-label">User Name</label>

                            <div class="col-sm-10">
                                <input type="text" th:field="*{userName}" class="form-control" id="userName" placeholder="User name">
                                <span class="help-block text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="password">
                                <span class="danger text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="prePassword" class="col-sm-2 control-label">Pre Password</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" th:field="*{prePassword}" id="prePassword" placeholder=" pre Password">
                                <span class="danger text-danger" th:if="${#fields.hasErrors('prePassword')}" th:errors="*{prePassword}"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="role" class="col-sm-2 control-label">Role</label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{list}" id="list" multiple="multiple">

                                    <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.named}"></option>
                                </select>
                                <p class="text-danger" th:if="${#fields.hasErrors('list')}" th:errors="*{list}" ></p>
                            </div>


                        </div>

                    </div>
                </div>


            </div>

            <div class="box-footer">
               <!-- <a href="javascript:history.go(-1)" class="btn btn-info" title="Return to the previous page">Oldingi saxifa</a>-->
                <a href="/admin/users" class="btn btn-info">Oldingi saxifa</a>
                <button type="submit" class="btn btn-info pull-right">Saqlash</button>
            </div>
        </form>
    </div>


</div>

<th:block layout:fragment="scripts">

</th:block>

</html>