<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">


<th:block layout:fragment="title">
   admin
</th:block>


<th:block layout:fragment="styles">
    <!-- Dashboard styles-->
</th:block>


<th:block layout:fragment="page_content">





    <div class="box">
        <div class="box-header">
            <a href="/admin/users/add" class="btn btn-success"><i class="fa fa-plus"></i></a><br>
        </div>
        <!-- /.card-header -->
        <div class="box-body">
            <th:block th:if="${userPage!=null and !userPage.isEmpty()}">
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown">
                    page-   <th:block th:text="${userPage.size}" ></th:block> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" >
                    <li><a   href="?size=1">1</a></li>
                    <li><a   href="?size=2">2</a></li>
                    <li><a   href="?size=3">3</a></li>
                    <li><a   href="?size=4">4</a></li>

                </ul>
            </div>
            </th:block>

            <table class="table table-bordered table-hover  text-center ">

                <thead class="text-primary ">
                <tr >

                    <form action="/admin/users" >
                        <th> </th>
                        <th><input type="text" name="search" class="form-control"id="fullName" ></th>
                        <th><button type="submit" class="btn btn-info form-control"><i class="fa fa-search"></i></button></th>
                        <th> </th>
                        <th> </th>
                    </form>
                </tr>
                <tr class="bg-gray-active">
                    <th> Id</th>
                    <th> Full name</th>
                    <th>User Name</th>
                    <th> Role</th>

                    <th> Operation</th>
                </tr>
                               </thead>
                <tbody class="table-responsive">
                <tr th:each="user:${userPage.content}">
                    <td th:text="${user.id}" style="width: 5%"></td>
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <span style="border-radius: 15px" class="btn btn-sm btn-success" th:each="role:${user.roles}" th:text="${role.named}">

                        </span>
                    </td>

                    <td>
                        <a th:href="${'/admin/users/edit/'+user.id}"
                           class="btn btn-warning btn-sm"> Edit </a>

                        <a th:href="${'/admin/users/delete/'+user.id}"
                           class="btn btn-danger btn-sm"> Delete </a>
                    </td>
                </tr>
                </tbody>

            </table>

            <th:block th:if="${userPage!=null and !userPage.isEmpty()}">
            <nav aria-label="Page navigation example">

                <ul class="pagination justify-content-end">
                    <li  th:if="${userPage.totalPages > 0}"
                        th:each="pageNumber : ${pageNumber}"
                        th:class="${pageNumber==userPage.number + 1} ? 'page-item active':'page-item'">
                        <a th:href="@{/admin/users/(size=${userPage.size}, page=${pageNumber}-1)}"
                           th:text="${pageNumber}" class="page-link"></a>
                    </li>
                </ul>
            </nav>
            </th:block>
            <a href="javascript:history.go(-1)" title="Return to the previous page">&laquo; Go back</a>
        </div>
        <!-- /.card-body -->
    </div>


</th:block>


<!--Scripts-->
<th:block layout:fragment="scripts">

<!--

<script type="text/javascript">

    $(document).ready(function () {
        $("#tbs1").keyup(function () {
            var tbs1 = $(this).val();


            $.ajax({
                url: "/admin/users?search="+tbs1,
                method: "GET",

                success: function (data) {
                    console.log(data);


                }

            });
           console.log(tbs1);

        });
    });

</script>
-->

<!--    $.get("/admin/users", {term: $('#tbs1').val()}, function(data) {
    // do your data manipulation and transformation here
    });-->

</th:block>


</html>