<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">
<th:block layout:fragment="title">
  Index page
</th:block>
<th:block layout:fragment="styles">
  <!-- Dashboard styles-->
</th:block>

<div layout:fragment="page_content">
  <h1> Index Default</h1>




    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

Main index sahifa


</div>

<th:block layout:fragment="scripts">
  <!--my scripts-->
</th:block>
</html>